*.[aod]
*.DS_Store
.DS_Store
*Thumbs.db
*.lock
.flowconfig
.watchmanconfig
/**/npm-debug.log
package-lock.json
node_modules
/**/*.iml
/**/build
/**/*xcshared*
/**/*xcuserdata*
/**/.svn
/**/.gradle
/resource
/server/public/download
*.idea
1.*
/**/public/
/image
/test/App/modules
/test/App/wxModules
/test/App/resource
